<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Trie.Go | Busca BBC News</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
<body class="homepage-body">
    
    <div class="main-container">
        <h1 class="main-title">Trie.Go</h1>

        <form action="{{ url_for('results') }}" method="post" class="search-form">
            
            <div class="search-bar-container">
                <input type="text" name="query" placeholder="Digite sua consulta booleana..." class="search-input" autocomplete="off">
                
                <input type="hidden" name="page" value="1">
                
                <button type="submit" class="search-button">
                    &#128269; 
                </button>
            </div>
        </form>
        
        <p class="subtitle-text">Catálogo com mais de 2 mil notícias</p>
        
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
    </div>

</body>
</html>